:root {
   --bg-color: #ffffff;  
   --text-color: #000000;  
 }
@media (prefers-color-scheme: dark) {
   :root {
     --bg-color: #000000;  
     --text-color: #ffffff;  
   }
 }

 body {
   background-color: var(--bg-color);
   color: var(--text-color);
   transition: background-color 1s ease , color 0.3s ease;  
 }


 
 
 ul{
    display: flex;
    justify-content: space-around;
    
    
 }
ul li{
   padding: 0.5rem;
   list-style: none;

}
 #navVar{
    background-color:  #020617;
    color: white;
    display: flex;
    justify-content: space-between;
    column-gap:  1rem;
    flex-wrap: wrap;

 }
ul li button{
   padding: 0.125rem;
   border-radius: 0.5rem;
   font-size: 1rem;
   font-family:'Times New Roman', Times, serif;
}

 #logoutbutton a{
   color: red;
   text-decoration: none;
 }
 button a{
   color: black;
   text-decoration: none;
 }

