* {
    background-color: #121212;
    margin: 0rem;
    color: whitesmoke;
}

body {
    min-height: 100vh;
    width: 80%;
    margin: 0rem;
}

.container {
    display: flex;
    min-height: 100vh;

}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020617;
}

.left svg {
    width: 90%;
    height: auto;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    background-color: #020617;
}

.right h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    background: transparent;

}

.right p {
    margin-bottom: 5rem;
    color: #94a3b8;
    background: transparent;
}

label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

input {
    border: 0.125rem solid blue;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: #444444;

}

button abbr {
    background: transparent;
    text-decoration: none;
}

button {
    font-size: 1.5rem;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 0.625rem;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 0.125rem solid red;
}

button:hover {
    filter: brightness(1.1);
}