 ul{
    display: flex;
    justify-content: space-around;
    
    
 }
ul li{
    padding: 0.5rem;
   list-style: none;

}
 #navVar{
    background-color: rgb(40,20,20);
    color: white;
    display: flex;
    justify-content: space-between;
    column-gap:  1rem;
    flex-wrap: wrap;

 }