*{
    background-color: #121212;
    margin: 0rem;
    color: whitesmoke;
}
body{
   min-height: 100vh;
   width: 80%;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items:center   ;
}
h1{
    margin-top: 2rem; 
    
}
p{
    margin-bottom: 5rem;
}
label{
    display: block;
   font-size: 1.5rem;
   margin-bottom: 1rem;
   cursor: pointer;
}
input{
    border: 0.125rem solid blue;
    padding:0.4rem;
    font-size: 1rem;
    border-radius:0.5rem;
    margin-bottom: 1rem;

}
button abbr{
    background: transparent;
    text-decoration: none;
}
button{
    font-size: 1.5rem;
    background-color:#2ecc71;
    color:#ffffff;
    border: none;
    border-radius: 0.625rem;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 0.125rem solid red;
}
button:hover{
    filter: brightness(1.1);
}
